.historiaPage {
  width: 100%;  
  background-color: white;
}

/* parte superior */

.historiaPage-IMG {
  width: 100%;
  height: 50vh;
  display: flex;
  background-image: url("./ajedrezViejo.jpg");
  background-position: center;
  background-size: cover;
  box-sizing: content-box;
  
}

.div-icono{
  width: 90px;
  height: 80px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.div-icono > ion-icon{
  color: white;
  font-size: 60px;
}

.div-icono ion-icon:hover{
  color: black;
}

.tittle-container{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  box-sizing: content-box;
}

.titulo-historia {
  width: 40%;
  height: 30%;
  background-color: rgba(255, 245, 245, .3);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}
.titulo-historia > h1 {
  color: white;
  text-align: center;
  font-size: 55px;
  font-family: "PT Serif";
}

/* Parte inferior */

.historiaPage-info {
  width: 100%;
  min-height: 50vh;
  display: flex;
  background-color: white;
}

.left-info{
    width: 70%;
    margin: 20px;
    background-color: white;
    margin-top: 40px;
}

.left-info > h1{
  text-align: center;
  font-size: 55px;
}

.introduction-info{
  color: black;
  text-align: center;
  font-family: 'Noto Sans';
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
}

.left-info > hr{
  width: 90%;
  margin: auto;
}

.img-indo-div{
  width: 650px;
  margin: auto;
}

.img-valley{
  width: 650px;
  margin-top: 30px;
  margin-bottom: 8px;
  cursor: crosshair;
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 8px;
}



.img-indo-div > p{
  text-align: justify;
  font-size: small;
  font-family:'Noto Sans', sans-serif;;
  color: rgb(86, 91, 91);
}

.div-paragraph-info{
  width: 950px;
  margin: auto;
}

.div-paragraph-info > h1{
  margin-top: 40px;
  text-align: center;
}

.info-p{
  margin-top: 40px;
  text-align: justify;
  font-size: 14px;
  font-family: 'Noto Sans';
}

.div-paragraph-info > hr{
  margin: auto;
  width: 80%;
  margin-top: 40px;
  margin-bottom: 40px;
  border-color: goldenrod;
}

.curios-data-div{
  margin: auto;
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comilla-p{
  margin-right: 15px;
  font-size: 150px;
  font-family: 'Noto Serif Display';
  color: goldenrod;
}

.curious-data{
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.copyright-p{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: justify;
  font-size: 12px;
  font-family: 'Noto Sans';

}
/* Informacion derecha, apartado del arte */
.right-info{
    width: 30%;
    margin: 20px;
    margin-top: 40px;
    background-color: white;
}

.img-right-div{
  margin: auto;
  margin-top: 50px;
}

.img-right{
  width: 350px;
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
}

.img-description{
  font-size: 13px;
  color: rgb(81, 84, 84);
  font-family: 'Noto Sans';
  margin-top: 10px;
}

@media screen and (max-width: 700px){
  .historiaPage-info{
    flex-direction: column;
  }
  .left-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-info > *{
    margin:0;
    padding: 5px ;
  }
}