.trucosPage{
    width: 100%;
    min-height: calc(100vh - 70px);
    background-color: white;
    display: flex;
}
.trucos-texto{
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.trucos-header {
    width: 25%;
    height: 100vh;
    display: flex;
    background-image: url("./Trucos.jpg");
    background-position: center;
    background-size: cover;
    justify-content: right;
    box-sizing: content-box;
    filter: sepia(80%);
    
  }
  .titulo_trucos {
    width: 300px;
    height: 100px;
    background-color: rgba(50, 50, 50, 0.504);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    margin: 30px 0;
  
  }
  .titulo_trucos > h1 {
    color: white;
    text-align: center;
    justify-content: right;
    font-size: 55px;
    font-family: "PT Serif";
  }

  .div-likes{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 80px;
    width: 50%;
  }

  .div-likes > button{
    width: 35px;
    height: 35px;
  }

  .div-likes > button > ion-icon{ 
    font-size: 20px;
  }

  .div-likes button:hover{
    background-color: black;
    color: white;
  }