.juego{
    width: 100%;
    min-height: calc(100vh - 50px);
    display: flex;
}

.jugador-uno, .jugador-dos{
    width: 25%;
    padding: 70px 0px;
}

.jugador-uno > h1, .jugador-dos > h1{
    color:white;
    text-align: center;
    width: 100%;
}

.jugador-dos > h1{
    text-decoration: underline;
    text-decoration-color:goldenrod;
}

.tablero{
    width: 50%;
}

.tablero-superior{
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}

.tablero-superior > h1{
    color: white;
}

.tablero-inferior > img{
    width: 100%;
    padding-bottom: 30px;
}

