.blur{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(2px);
    z-index: 10;
}

.login{
    position: absolute;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 40vw;
    height: calc(50vh + 120px);
    border-radius: 30px;
}

.login > form > hr{
    height: 1px;
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    background-color: black;
}

.logo{
    text-decoration: none;
    color: black;
}

.logo > button{
    position: absolute;
    right: 40px;
    top: 40px;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
}

.logo > button:hover{
    cursor: pointer;
}

.top{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.top > img{
    width: 30px;
}

.top > h2{
    margin-left: 20px;
}

.user{
    margin-bottom: 20px;
}

.user, .pass{
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: left;
}

.user > label, .pass > label{
    text-align: left;
    width: 80%;
    font-weight: bold;
}

.user > input, .pass > input{
    width: 80%;
    padding: 8px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid gray;
    margin-top:10px;
}

.buttons{
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.buttons > button{
    background-color: goldenrod;
    padding: 5px 10px;
    width: 60%;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid gray;
    font-family: 'Lobster Two';
    font-size: 17px;
}

.buttons > button:hover{
    cursor: pointer;
}

.buttons > a{
    margin-top: 5px;
    text-decoration: underline;
}

.buttons > a:hover{
    cursor: pointer;
}

.buttons > .enlace{
    margin-top: 5px;
    background:none;
    border: none;
    text-decoration: underline;
    font-family: "Lobster Two";
    font-weight: 100;
    color: black;
}

.buttons > .enlace:hover{
    cursor: pointer;
}