.inicio{
    min-height: calc(100vh - 200px);
    width: 90%;
    background-image: url("./backgroundInicio.jpeg");
    background-size: cover;
    display: flex;
    padding: 75px 5%;
    filter: grayscale(60%);
    filter:sepia(60%);
}

.landAction{
    width: 60%;
    text-align: left;
    height: 100%;
}

.landAction > img{
    width: 15%;
    border-radius: 5px;
}

.landAction > h2{
    color: white;
    font-size: 50px;
    margin-top: 20px;
}

.landAction > button{
    margin-top: 20px;
    padding: 10px 75px;
    background-color: white;
    color: black;
    font-family: 'Lobster Two';
    font-size: 20px;
    border: none;
    position: relative;
    left: 0px;
}

.landAction > button:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
    animation: slash 0.3s ease;
    left: 30px;
}

@keyframes slash {
    from {
        left: 0;
    }

    to {
        left: 30px;
    }
}

.landText{
    width: 40%;
    height: 100%;
    vertical-align: middle;
}

.landText > p{
    color: white;
    font-size: 40px;
    width: 70%;
    margin: 40px 0px 0px auto;
    margin-top: 20%;
}

.landAction > p{
    color: white;
    font-size: 30px;
    width: 59%;
    margin-top: 80px;
}

.wave{
    border-radius: 50%;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.0);
    left: 0%;
    right: 0%;
}

.ola{
    animation: ola 0.5s linear;
}

@keyframes ola {
    from {
        width: 0px;
        height: 0px;
        left: 0;
        top: 0;
        background-color: rgba(255, 255, 255, 0.3);
    }

    to {
        width: 100vw;
        height: 100vw;
        left: -30vw;
        top: -30vw;
        background-color: rgba(0, 0, 0, 0.0);
    }
}
