/* Organización del footer */

.Footer{
    width: 100%;
    height: 380px;
    background-color: rgb(17, 17, 40);
}

.footer-top{
    width: 70%;
    height: 70%;
    display: flex;
    margin: auto;
}

.Footer > hr{
    width: 80%;
    margin: auto;
    border-color: rgb(172, 172, 172);
}

.footer-bottom{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* footer-bottom content */

.bottom-content-div{
    width: 80%;
    height: 100%;
}

.bottom-icons{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.icons-bottom-div{
    padding-top: 30px;
    display: flex;
    margin-right: 2%;
    color: white;
    font-size: 20px;
}

.copyright{
    color: white;
    font-family: 'Sans-serif';
    font-size: 12px;
    padding-top: 20px;
}

/* footer-top content */
.footer-separation{
    width: 33%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
/* footer-left content */

.image-div{
    width: 100%;
    height: 30%;
    padding-bottom: 20px;
}

.img-logo{
    width: auto;
    height: 80px;
}

.developers{ 
    
    font-family: 'Sans serif';        
    color: white;
    text-align: justify;
    font-size: 19px;
}

.list-style{
    margin-top: 20px;
    margin-left: 16px;
    list-style-type: square;
    color: white;
    font-size: 14px;
    text-align: justify;
    font-family: 'Ibarra Real Nova';
}

/* footer-center content */

.img-log{
    width: auto;
    height: 75px;
    padding-top: 10px;
}

.info-div > p{
    color: white;
    font-family: 'Ibarra Real Nova';
    text-align: justify;
    font-size: 16px;
    margin-bottom: 5px;
}

/* footer-right content */

.phone-email-div{
    display: flex;
    color: white;
}

.phone-email-div > ion-icon{
    padding-right: 10px;
}

.phone-email-div > p{
    color: white;
    font-family: 'Ibarra Real Nova';
    text-align: justify;
    font-size: 16px;
    margin-bottom: 5px;
}