.Footer{
    width: 100%;
    height: 400px;
    background-color: rgb(17, 17, 40);
    display: flex;
}

.footer-left{
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* display: flex;
    top: 0; */
}

.footer-center{
    width: 40%;
    height: 100%;
    align-items: center;
}

.footer-right{
    width: 30%;
    height: 100%;
}

.space_div{
    width: 100%;
    height: 25%;
}

.piece-div{
    width: 100%;
    height: 30px;
}

.img-piece{
    width: 120px;
    height: 120px;
}

.phone-icon{
    width: 100%;
    height: 30%;
    justify-content: center;
    position: relative;

}

.title-contact{ 
    
    font-family: 'Sans serif';        
    color: white;
    text-align: center;
    position: absolute;
    top: 210px;
    font-size: 23px;
}

.phone-div, .email-div{
    width: 100%;
    display: flex;
}

.phone-icon > ion-icon{
    font-size: 25px;
    color: #FFD700;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 120px;
}

.email-icon > ion-icon{
    color: #FFD700;
    position: absolute;
    left: 120px;
    font-size: 23px;
}

.recomendation-title{
    align-items: center;
    width: 100%;
    height: 40%;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.help{
    color: white;
    font-size: 23px;
    position: absolute;
    top: 60px;
    font-family: 'Sans serif';
    text-align: center;
}